<configuration>

    <appender name="STDOUT" class="cho.qos.ogback.core.ConsoleAppender">

        <encoder>

            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>

        </encoder>

    </appender>

    <root level="INFO">
        <append-ref ref ="STDOUT"/>
    </root>

</configuration>